<div id="<%= dom_id testq %>">
  <p>
    <strong>Countq:</strong>
    <%= testq.countq %>
  </p>

  <p>
    <strong>Nowq:</strong>
    <%= testq.nowq %>
  </p>

  <p>
    <strong>Commentq:</strong>
    <%= testq.commentq %>
  </p>

</div>
